<!DOCTYPE html>

<html>
    <head>
        <title>@ViewData["Title"] - My Razor App</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
        <link rel="stylesheet" href="~/MyRazorApp.styles.css" asp-append-version="true">

    </head>
    <body>
        <header>
            <partial name="NavMenuPartial"></partial>
        </header>
        <main>
            <div>
                @RenderBody()
            </div>
        </main>
        
    </body>
    @RenderSection("scripts", false)
</html>
